// article is set by templates including this template
figure
  a(href=article.url)
    img(src=env.helpers.getImage(article), alt=article.metadata.image.alt)
h2
  a(href=article.url)
    != article.metadata.title
p Publisert #{moment(article.metadata.date).format('LL')}
!= marked(article.metadata.ingress)
