- var articles = contents.article._.directories.map(function (item) { return item.index; });
nav.articles
  ul
    each article in articles
      li
        a(href=locals.url+article.url)
          img(src=locals.url+article.url+"/image.jpg", alt=article.metadata.image.desc+" (Foto: "+article.metadata.image.takenby+")")
        h3
          a(href=locals.url+article.url)
            != article.metadata.title
        p Publisert #{moment(article.metadata.date).format('LL')}
        != marked(article.metadata.ingress)
        p
          a(href=locals.url+article.url) Les mer