extends layout

block prepend title
  | #{page.title} -

block vars
  - mainclass = 'article';

block content
  figure
    img(src="image.jpg")
    figcaption #{page.metadata.image.desc} (Foto: #{page.metadata.image.takenby})
  p
    strong
      != marked(page.metadata.ingress)
  if page.metadata.person
    - persons = page.metadata.person.split(', ')
    ul.overview
      each username in persons
        - var individual = contents.person[username]['index.md'].metadata
        li
          a(href=locals.url + '/person/' + username)
            img.profile(src=locals.url + '/person/' + username + '/thumb.jpg', title=individual.title)
  != page.html
  aside
    p Publisert #{moment(page.metadata.date).format('LL')}