extends layout

block prepend title
  | #{page.title} -

block vars
  - mainclass = 'association';

block content
  != page.html
  if page.metadata.active === false || page.metadata.current || page.metadata.previous || page.metadata.url
    h3 Annen informasjon
    ul
      if page.metadata.active === false
        li
          strong Denne foreningen er ikke lenger aktiv
      if page.metadata.current
        - currentAssociation = env.helpers.getAssociation(contents, page.metadata.current)
        li
          span Nå kjent som&nbsp;
          a(href=currentAssociation.url)= currentAssociation.title
      if page.metadata.previous
        - prevAssociation = env.helpers.getAssociation(contents, page.metadata.previous)
        li
          span Tidligere kjent som&nbsp;
          a(href=prevAssociation.url)= prevAssociation.title
      if page.metadata.url
        li
          span Nettside:&nbsp;
          a(href=page.metadata.url)= page.metadata.url.replace('http://', '').replace('https://', '').replace(/\/$/, '')
  - const persons = env.helpers.getPersonsForTag(contents, page.metadata.tag)
  if persons.length > 0
    h3 Ordensbærere
    ul.overview
      each person in persons
        li
          a(href=person.parent.index.url)
            img.profile(src=env.helpers.getThumb(person), title=person.metadata.title)
  - const years = env.helpers.getYearsForTag(contents, page.metadata.tag)
  - const references = env.helpers.getReferencesForHistory(years)
  if years.length > 0
    h3 Historie
    ul.history
      each year in years
        li.year
          h4= year.year
          ul
            each event in year.events
              li.event
                include history-event.pug
            if year.minor.length > 0
              li.event Mindre hendelser
                ul
                  each event in year.minor
                    li.event
                      include history-event.pug
  if Object.keys(references).length > 0
    h3 Referanser
    ol.references
      each reference in references
        li(id=reference.index).reference
          != reference.html