extends layout

block prepend title
  | #{page.title} -

block content
  != page.html
  - var references = env.helpers.getReferences(contents)
  #FilterHead
    h3#FilterTitle Filter: 
  #Filters
    form
      label Filter: 
      select(name='filter')
  ul.history
    each year in env.helpers.getYears(contents)
      li.year(class=env.helpers.getClassesForYear(year))
        h3= year.year
        ul
          each event in year.events
            li(class=event.metadata.tags ? event.metadata.tags.split(', ') : '').event
              include history-event.jade
          if _(year.appointments.map(function (appointment) { return appointment.persons; })).flatten().length > 0
            li.event.ifi-ordenen Tildelinger av Ifi-ordenen
              ul
                each appointment in year.appointments
                  if appointment.persons.length > 0
                    li #{appointment.title}: 
                      each person, index in appointment.persons
                        if index !== 0
                          span , 
                        a(href=person.url)= person.title
          if year.minor.length > 0
            li(class=_(env.helpers.getClassesForEvents(year.minor)).uniq()).event Mindre hendelser
              ul
                each event in year.minor
                  li(class=event.metadata.tags ? event.metadata.tags.split(', ') : '').event
                    include history-event.jade
  h3 Referanser
  ol.references
    each reference in references
      li(id=reference.index).reference  
        != reference.html
        
block script
  script(type='text/javascript').
    (function shimOnHashChange(window) {
      // exit if the browser implements that event
      if ( "onhashchange" in window.document.body ) { return; }

      var location = window.location,
        oldURL = location.href,
        oldHash = location.hash;

      // check the location hash on a 100ms interval
      setInterval(function() {
        var newURL = location.href,
          newHash = location.hash;

        // if the hash has changed and a handler has been bound...
        if ( newHash != oldHash && typeof window.onhashchange === "function" ) {
          // execute the handler
          window.onhashchange({
            type: "hashchange",
            oldURL: oldURL,
            newURL: newURL
          });

          oldURL = newURL;
          oldHash = newHash;
        }
      }, 100);

    })(window);
    (function highlightReferences(window, document) {
      markReference();
      window.onhashchange = markReference;
      
      function markReference() {
        var references = document.getElementsByClassName('reference');
        for (var i = 0; i < references.length; i++) {
          references[i].className = 'reference';
        }
        if (!window.location.hash) { return; }
        var id = window.location.hash.substr(1);
        var reference = document.getElementById(id);
        if (!reference) { return; }
        reference.className += ' selected';
      }
    }(window, document));
    (function getParameterByName (window) {
      window._getParameterByName = getParameterByName;
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    }(window));
    (function setupFilters(window, document) {
      var filters = {
        'Applitude': 'applitude',
        'Cybernetisk Selskab': 'cyb',
        'dagen@ifi': 'dagen',
        'Designforeningen ved IFI (Defi)': 'defi',
        'Fotball ved Institutt for Informatikk (FIFI)': 'fifi',
        'Fagutvalget ved Institutt for informatikk (FUI)': 'fui',
        'IFI-Avis': 'ifi-avis',
        'IFI Makers': 'ifi-makers',
        'Ifi-ordenen': 'ifi-ordenen',
        'IFI Rotor': 'ifi-rotor',
        'IFI sjakk': 'ifi-sjakk',
        'Index': 'index',
        'Institutt for informatikk': 'ifi',
        'Matematikk, algoritmer og programmering for studenter (MAPS)': 'maps',
        'Nanoelektronikk, Robotikk og Digital Signalbehandling (Mikro)': 'mikro',
        'Navet': 'navet',
        'PING': 'ping',
        'Profesjonsstudentene ved Institutt for Informatikk (ProsIT)': 'prosit',
        'ProgNett': 'prognett',
        'Programutvalget for Informatikk: språk og kommunikasjon (PI:SK)': 'pisk',
        'Programutvalget for IT: Språk, Logikk og Psykologi (IT-SLP)': 'it-slp',
        'Svett': 'svett',
        'Tekniske og Naturvitenskapelige anvendelser (TekNat)': 'teknat',
        'UniPlay': 'uniplay',
        'Verdande': 'verdande'
      };
      var filterSection = document.getElementById('Filters');
      filterSection.style = 'display: block';
      var filterKey = window._getParameterByName('filter');
      if (filterKey) {
        var filterHead = document.getElementById('FilterHead');
        filterHead.style = 'display: block';
        var filterTitle = document.getElementById('FilterTitle');
        var filterName = Object.keys(filters).find(function (filterName) {
          return filters[filterName] === filterKey
        });
        filterTitle.innerText += ' ' + filterName;
      }
      var form = filterSection.getElementsByTagName('form')[0];
      var select = filterSection.getElementsByTagName('select')[0];
      select.appendChild(createOption('', 'Alle'));
      Object.keys(filters).forEach(function (filterText) {
        select.appendChild(createOption(filters[filterText], filterText, filterKey));
      });
      select.onchange = function () {
        form.submit();
      };
      
      function createOption(value, text, selectedKey) {
        var option = document.createElement('option');
        option.setAttribute('value', value);
        option.innerText = text;
        if (selectedKey && value === selectedKey) {
          option.setAttribute('selected', true);
        }
        return option;
      }
    }(window, document));
    (function filterEvents (window, document) {
      filterEvent();
      
      function filterEvent() {
        var filterKey = window._getParameterByName('filter');
        if (!filterKey) { return; }
        var years = document.getElementsByClassName('year');
        for (var i = 0; i < years.length; i++) {
          years[i].style = "display: none";
        }
        var filterYears = document.getElementsByClassName('year-'+filterKey);
        for (var i = 0; i < filterYears.length; i++) {
          filterYears[i].style = "display: list-item";
        }
        var events = document.getElementsByClassName('event');
        for (var i = 0; i < events.length; i++) {
          events[i].style = "display: none";
        }
        var filterEvents = document.getElementsByClassName(filterKey);
        for (var i = 0; i < filterEvents.length; i++) {
          filterEvents[i].style = "display: list-item";
        }
      }
    }(window, document));