extends layout

block prepend title
  | #{page.title} -

block content
  != page.html
  - var references = env.helpers.getReferences(contents) 
  ul.history
    each year in env.helpers.getYears(contents)
      li 
        h3= year.year
        ul
          each event in year.events
            li(class=event.metadata.tags ? event.metadata.tags.split(', ') : '')
              if event.metadata.date
                span.date #{moment(event.date).format('LL')}:  
              if event.getView() !== 'none'
                a(href=event.url)= event.title
              else
                != event.title
              if event.metadata.sources
                |  
                sup
                  | [
                  each source, index in env.helpers.getSources(event.metadata.sources, references)
                    if index !== 0
                      span , 
                    != source
                  | ]
          if _(year.appointments.map(function (appointment) { return appointment.persons; })).flatten().length > 0
            li.ifi-ordenen Tildelinger av Ifi-ordenen
              ul
                each appointment in year.appointments
                  if appointment.persons.length > 0
                    li Tildelt #{appointment.title}: 
                      each person, index in appointment.persons
                        if index !== 0
                          span , 
                        a(href=person.url)= person.title
  p (Merk at tildelingene av Ifi-ordenen ikke nødvendigvis er listet i riktig rekkefølge her. Se <a href="../person/year">personer etter år</a> for mer nøyaktig fremstilling.)
  h3 Referanser
  ol.references
    each reference in references
      li(id=reference.index)  
        != reference.html