extends layout

block prepend title
  | Forside -

block content
  h1= page.title
  != page.html
  p
    a(href=locals.url+'/about') Mer om ordenens virke
  h2 Medlemmer
  ul.classes
    each _class in contents['structure.json'].metadata.structure
      li
        h3= _class.name
        if _class.members.length > 0
          ul
            each username in _class.members
              - var person = contents.person[username]['index.md'].metadata
              li
                a(href=locals.url+'/person/' + username)
                  img.profile(src=locals.url+'/person/' + username + '/thumb.jpg', title=person.title)
        else
          p Ingen medlemmer enda