- var filename = page.filepath.relative.split('/').pop();
- var language = filename === 'index.md' ? 'no' : filename.split('.').shift();
- var t = contents[language+'.json'].metadata;
block vars
	- var mainclass = null;
doctype html
html(lang=language)
	head
		meta(charset='utf-8')
		meta(name='viewport', content="width=device-width")
		title
			block title
				| #{locals.title}
		link(rel='stylesheet', href=locals.url+'/style.css')
	body(class=mainclass)
		header
			.inner
				block before_title
				h1= page.title
				block after_title
			include ./navigation.jade
		div(role="main")
			block breadcrumbs
				nav.breadcrumbs
					ul
						if page.parent && page.parent.parent.parent
							- var crumb = page.parent.parent.parent.index
							li
								a(href=locals.url+crumb.url)= crumb.metadata.short || crumb.title
						if page.parent && page.parent.parent
							- var crumb = page.parent.parent.index
							li
								a(href=locals.url+crumb.url)= crumb.metadata.short || crumb.title
						li
							span= page.metadata.short || page.title
			block content
		footer
			ul
				li
					a(href=locals.url)= t.nav.index
				li
					a(href=locals.url+'/about')= t.nav.about
				li
					a(href=locals.url+'/person')= t.nav.members
	script(type='text/javascript').
		(function () {
			var mainNavigation = document.getElementById('MainNavigation');
			var menuTrigger = document.getElementById('MenuTrigger');
			var navIsHidden = true;
			menuTrigger.onclick = function () {
				navIsHidden = !navIsHidden;
				mainNavigation.style = 'display: ' + (navIsHidden ? 'none' : 'block');
				mainNavigation.setAttribute('aria-hidden', navIsHidden); 
			};
		}());
