- var filename = page.filepath.relative.split('/').pop();
- var language = filename === 'index.md' ? 'no' : filename.split('.').shift();
- var t = contents[language+'.json'].metadata;
block vars
	- var mainclass = null;
doctype html
html(lang=language)
	head
		meta(charset='utf-8')
		meta(name='viewport', content="width=device-width")
		title
			block title
				| #{locals.title}
		link(rel='stylesheet', href=locals.url+'/style.css')
	body(class=mainclass)
		header
			#MainNavigation
				.bar
					.holder
						button.trigger
							span= t.nav.menu
				nav(aria-hidden="true")
					.inner
						h2= t.nav.order
						ul
							li
								a(href=locals.url)= t.nav.index
							li
								a(href=locals.url+'/about')= t.nav.about
						h2= t.nav.insignia
						ul
							li
								a(href=locals.url+'/person')= t.nav.hierarchical
							li
								a(href=locals.url+'/person/alphabetically')= t.nav.alphabetical
							li
								a(href=locals.url+'/person/year')= t.nav.year
						h2= t.nav.other
						ul
							li
								a(href=locals.url+'/dictionary')= t.nav.dictionary
							li
								a(href=locals.url+'/penguin')= t.nav.penguinorder
							li
								a(href=locals.url+'/page')= t.nav.page
			.inner
				block before_title
				h1= page.title
				block after_title
		div(role="main")
			block breadcrumbs
				nav.breadcrumbs
					ul
						if page.parent && page.parent.parent.parent
							- var crumb = page.parent.parent.parent.index
							li
								a(href=locals.url+crumb.url)= crumb.metadata.short || crumb.title
						if page.parent && page.parent.parent
							- var crumb = page.parent.parent.index
							li
								a(href=locals.url+crumb.url)= crumb.metadata.short || crumb.title
						li
							span= page.metadata.short || page.title
			block content
		footer
			ul
				li
					a(href=locals.url)= t.nav.index
				li
					a(href=locals.url+'/about')= t.nav.about
				li
					a(href=locals.url+'/person')= t.nav.insignia
	script(type='text/javascript',src=locals.url+'/all.min.js')
	script(type='text/javascript').
		(function () {
			var body = $('body');
			var mainNavigation = $('#MainNavigation');
			var nav = mainNavigation.children('nav');
			var navIsHidden = true;
			var trigger = mainNavigation.find('.bar').on('click', function () {
				body.toggleClass('navigation-open');
				navIsHidden = !navIsHidden;
				nav.attr('aria-hidden', navIsHidden);
			});
		}());
