block vars
	- var mainclass = null;
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content="width=device-width")
		title
			block title
				| #{locals.title}
		link(rel='stylesheet', href=locals.url+'/style.css')
	body
		#MainNavigation
			.bar
				.holder
					button.trigger
						span Menu
			nav(aria-hidden="true")
				.inner
					h2 Ordenen
					ul
						li
							a(href=locals.url) Forside
						li
							a(href=locals.url+'/about') Om ordenen
					h2 Tildelinger
					ul
						li
							a(href=locals.url+'/person') Hierarkisk
						li
							a(href=locals.url+'/person/alphabetically') Alfabetisk
						li
							a(href=locals.url+'/person/year') Etter år
					h2 Annet
					ul
						li
							a(href=locals.url+'/dictionary') Ordbok
						li
							a(href=locals.url+'/penguin') Pingvingarden
						li
							a(href=locals.url+'/page') Om siden
		.mainclass(role="main")
			header
				block before_title
				h1= page.title
			block content
		footer
			ul
				li
					a(href=locals.url) Hovedside
				li
					a(href=locals.url+'/about') Om ordenen
				li
					a(href=locals.url+'/person') Tildelinger
	script(type='text/javascript',src=locals.url+'/all.min.js')
	script(type='text/javascript').
		(function () {
			var body = $('body');
			var mainNavigation = $('#MainNavigation');
			var nav = mainNavigation.children('nav');
			var navIsHidden = true;
			var trigger = mainNavigation.find('.bar').on('click', function () {
				body.toggleClass('navigation-open');
				navIsHidden = !navIsHidden;
				nav.attr('aria-hidden', navIsHidden);
			});
		}());
