block vars
	- var mainclass = null;
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content="width=device-width")
		title
			block title
				| #{locals.title}
		link(rel='stylesheet', href=locals.url+'/style.css')
	body
		div(class=mainclass, role="main")
			block content
		footer
			nav
				ul
					li
						a(href=locals.url) Forside
					li
						a(href=locals.url+'/about') Om ordenen
					li
						a(href=locals.url+'/person') Medlemmer
					li
						a(href=locals.url+'/page') Om siden

