//- - var filename = page.filepath.relative.split('/').pop();
//- - var language = filename === 'index.md' ? 'nb' : filename.split('.').shift();
- var language = 'nb';
- var t = contents[language+'.json'].metadata;
- moment.locale(language);
block vars
  - var mainclass = null;
doctype html
html(lang=language)
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width")
    title
      block title
        |  #{locals.short}
    link(rel='alternate', href=contents['feed.json'].url, type='application/rss+xml', title=locals.description)
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto|Work+Sans&display=swap", rel="stylesheet")
    link(rel='stylesheet', href=contents['style.css'].url)
  body(class=mainclass)
    header(role="banner")
      a(href=contents.index.url).title= locals.short
      include ./navigation.pug
    div(role="main")
      header
        .inner
          block before_title
          h1= page ? page.title : locals.title
          block after_title
      .inner
        block breadcrumbs
          if page.parent && page.parent.parent && page.parent.parent.index !== contents.index
            nav.breadcrumbs
              ul
                - const crumb = page.parent.parent.index
                li
                  a(href=crumb.url) #{crumb.metadata.short || crumb.title} &raquo;&nbsp;
                li
                  span
                    != page.metadata.short || page.metadata.title
        block content
      block aside
    footer
      nav#MoreMenu
        ul
          li
            a(href=env.helpers.getUrl(contents, 'association'))= t.nav.associations
          li
            a(href=env.helpers.getUrl(contents, 'history'))= t.nav.history
          li
            a(href=env.helpers.getUrl(contents, 'dictionary'))= t.nav.dictionary
      p(role="contentinfo") &copy; Hennes Majestet Keiserpingvinen den Fornemmes orden (
        a(href=env.helpers.getUrl(contents, 'page')) mer om siden
        | )
  script(type='text/javascript').
    (function () {
      var mainNavigation = document.getElementById('MainNavigation');
      var mainMenu = document.getElementById('MainMenu');
      var menuTrigger = document.getElementById('MenuTrigger');
      var navIsHidden = true;
      menuTrigger.onclick = function () {
        navIsHidden = !navIsHidden;
        mainNavigation.className = navIsHidden ? '' : 'open';
        mainMenu.setAttribute('aria-hidden', navIsHidden);
      };
    }());
  block script
