#MainNavigation
  button#MenuTrigger
    span= t.nav.menu
  nav#MainMenu(aria-hidden="true")
    ul
      li
        a(href=locals.url)= t.nav.index
      li
        a(href=locals.url+'/person')= t.nav.person
      //- li
      //-   a(href=locals.url+'/association')= t.nav.associations
      //- li
      //-   a(href=locals.url+'/history')= t.nav.history
      //- li
      //-   a(href=locals.url+'/title')= t.nav.titles
      li
        a(href=locals.url+'/about')= t.nav.about
      li
        a(href=locals.url+'/nominate')= t.nav.nominate