extends layout

block prepend title
  | #{page.title} -

block vars
  - mainclass = 'penguin';

block breadcrumbs
  nav.breadcrumbs
    ul
      li
        a(href=locals.url) Forside
      li
        a(href=locals.url+'/penguin') Pingvingarden
      li
        span= page.title

block content
  header
    img.profile(src='thumb.jpg')
    p 
      strong #{page.metadata.rank} i 
        a(href=locals.url+'/penguin/') Pingvingarden
    if page.metadata.appointed
      p
        strong (tildelt #{page.metadata.appointed})
  != page.html
  if page.metadata.reason
    p
      strong= page.metadata.reason
