extends layout

block prepend title
  | #{page.title} -

block content
  - var usernames = contents.person['structure.json'].metadata.structure.reduce(function (memo, _class) {
  -   return memo.concat(_class.members);
  - }, []).sort();
  nav.persons
    ul
      each username in usernames
        - var person = contents.person[username]['index.md'].metadata
        li
          a(href=locals.url+'/person/' + username)
            img.profile(src=locals.url+'/person/' + username + '/thumb.jpg', title=person.title)
            .info
              - var appointments = [person.rank+' ('+person.appointed+')'].concat((person.previous || []).map(function (className) {
              -   classPage = contents.person[username][className+'.md'].metadata;
              -   return classPage.rank+' ('+classPage.appointed+')';
              - }));
              h3= person.title
              p= appointments.join(', ')
              p= person.reason
