extends layout


block prepend title
  | #{page.title} -

block vars
  - mainclass = 'person';

block before_title
  img.profile(src=page.url + 'thumb.jpg')

block after_title
  - var _title = contents.title[page.metadata.current]['index.md'].metadata;
  p #{_title.title} i Hennes Majestet Keiserpingvinen den Fornemmes orden

block content
  != page.html
  p
    strong= page.metadata.reason
  p.info
    a(href=locals.url + '/person/year#' + page.metadata.appointed) Tildelt #{page.metadata.appointed}

block aside
  if page.metadata.previous
    each titleName in page.metadata.previous
      - _title = contents.person[page.metadata.username][titleName].index
      header
        .inner
          h3(id=_title.metadata.current) Tidligere tildelt: #{_title.metadata.rank}
      .inner
        != _title.html
        p
          strong= _title.metadata.reason
        p.info
          a(href=locals.url + '/person/year#' + _title.metadata.appointed)  Tildelt #{_title.metadata.appointed}
  if page.metadata.associations
    .inner
      h3 Foreninger/Organisasjoner
      ul
        each associationTag in page.metadata.associations.split(', ').sort()
          - var association = env.helpers.getAssociation(contents, associationTag)
          li
            a(href=locals.url + association.url)= association.title