extends layout

block prepend title
  | #{page.title} -

block content
  - const usernames = contents['structure.json'].metadata.persons.structure.reduce(function (memo, _title) {
  -   return memo.concat(_title.members);
  - }, []).sort();
  nav.persons
    ul
      each username in usernames
        - const person = contents.person[username].index
        li
          a(href=person.url)
            img.profile(src=env.helpers.getThumb(person), title=person.metadata.title)
          .info
            - const appointments = [person.metadata.rank+' ('+person.metadata.appointed+')'].concat((person.metadata.previous || []).map(function (titleName) {
            -   const _title = contents.person[username][titleName].index.metadata;
            -   return _title.rank+' ('+_title.appointed+')';
            - }));
            h3
              a(href=person.url)= person.metadata.title
            p= appointments.join(', ')
            p= person.metadata.reason
