extends layout


block prepend title
  | #{page.title} -

block vars
  - mainclass = 'person';

block before_title
  img.profile(src='thumb.jpg')

block after_title
  - var _class = contents.class[page.metadata.class]['index.md'].metadata;
  p 
    strong Tildelt #{_class.title} av Hennes Majestet Keiserpingvinen den Fornemmes orden
  if page.metadata.appointed
    p
      a(href=locals.url+'/person/year/')  Tildelt #{page.metadata.appointed}

block content
  != page.html
  if page.metadata.reason
    p
      strong= page.metadata.reason
  if page.metadata.previous
    each classname in page.metadata.previous
      - classpage = contents.person[page.metadata.username][classname + '.md']
      header
        h2 Tidligere tildelt: #{classpage.metadata.rank}
        p
          a(href=locals.url+'/person/year/')  Tildelt #{classpage.metadata.appointed}
      != classpage.html
      p
        strong= classpage.metadata.reason
