extends layout

block prepend title
  | #{page.title} -

block content
  - const years = {};
  - contents['structure.json'].metadata.persons.structure.forEach((_title) => {
  -   _title.members.forEach((username) => {
  -     const person = contents.person[username]['index.md'].metadata;
  -     years[person.appointed] = years[person.appointed] || [];
  -     person.username = username;
  -     years[person.appointed].push(person);
  -     (person.previous || []).forEach((titleName) => {
  -       const previousTitle = contents.person[username][titleName].index.metadata;
  -       years[previousTitle.appointed] = years[previousTitle.appointed] || [];
  -       years[previousTitle.appointed].push(person);
  -     })
  -   })
  - })
  nav.years
    ul
      each year in Object.keys(years)
        li
          h2(id=year)= year
          ul.overview
            each person in years[year]
              li
                a(href=env.helpers.getPersonUrl(locals, person.username))
                  img.profile(src=env.helpers.getPersonThumb(locals, person.username), title=person.title)