extends layout

block prepend title
  | #{page.title} -

block vars
  - mainclass = 'person';

block content
  header
    img.profile(src='thumb.jpg')
    p 
      strong #{page.metadata.rank} av Hennes Majestet Keiserpingvinen den Fornemmes orden
    if page.metadata.appointed
      p
        a(href=locals.url+'/person/year/')  Tildelt #{page.metadata.appointed}
  != page.html
  if page.metadata.reason
    p
      strong= page.metadata.reason
  if page.metadata.previous
    each classname in page.metadata.previous
      - classpage = contents.person[page.metadata.username][classname + '.md']
      h2 Tidligere tildeling: #{classpage.metadata.rank}
      p
        a(href=locals.url+'/person/year/')  Tildelt #{classpage.metadata.appointed}
      != classpage.html
      p
        strong= classpage.metadata.reason
