// root is set by templates that include this template
ul(class=root.className)
  each _title in root.structure
    li
      h3= _title.name
      if _title.members.length > 0
        ul.overview
          each username in _title.members
            - const individual = contents[root.individual][username].index
            li
              a(href=individual.url)
                img.profile(src=env.helpers.getThumb(individual), alt=individual.metadata.title)
      else
        p= root.noMembersExplanation