ul(class=root.className)
  each _title in root.structure
    li
      h3= _title.name
      if _title.members.length > 0
        ul.overview
          each username in _title.members
            - var individual = contents[root.individual][username]['index.md'].metadata
            li
              a(href=locals.url + root.path + username)
                img.profile(src=locals.url + root.path + username + '/thumb.jpg', title=individual.title)
      else
        p= root.noMembersExplanation